<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tt.dao.FangXfLoupangListMapper" >
  <resultMap id="BaseResultMap" type="com.tt.entity.FangXfLoupangList" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="title_id" property="titleId" jdbcType="VARCHAR" />
    <result column="detail_pc" property="detailPc" jdbcType="VARCHAR" />
    <result column="detail_h5" property="detailH5" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="plate" property="plate" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="average_price" property="averagePrice" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="batch_id" property="batchId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, title_id, detail_pc, detail_h5, city, region, plate, address, tag, average_price, 
    status, createtime, batch_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tt.entity.FangXfLoupangListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fang_xf_loupang_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from fang_xf_loupang_list
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from fang_xf_loupang_list
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tt.entity.FangXfLoupangListExample" >
    delete from fang_xf_loupang_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tt.entity.FangXfLoupangList" >
    insert into fang_xf_loupang_list (id, title, title_id, 
      detail_pc, detail_h5, city, 
      region, plate, address, 
      tag, average_price, status, 
      createtime, batch_id)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{titleId,jdbcType=VARCHAR}, 
      #{detailPc,jdbcType=VARCHAR}, #{detailH5,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{plate,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{averagePrice,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{batchId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tt.entity.FangXfLoupangList" >
    insert into fang_xf_loupang_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="titleId != null" >
        title_id,
      </if>
      <if test="detailPc != null" >
        detail_pc,
      </if>
      <if test="detailH5 != null" >
        detail_h5,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="plate != null" >
        plate,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="averagePrice != null" >
        average_price,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="batchId != null" >
        batch_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="detailPc != null" >
        #{detailPc,jdbcType=VARCHAR},
      </if>
      <if test="detailH5 != null" >
        #{detailH5,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="plate != null" >
        #{plate,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="averagePrice != null" >
        #{averagePrice,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tt.entity.FangXfLoupangListExample" resultType="java.lang.Integer" >
    select count(*) from fang_xf_loupang_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fang_xf_loupang_list
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.titleId != null" >
        title_id = #{record.titleId,jdbcType=VARCHAR},
      </if>
      <if test="record.detailPc != null" >
        detail_pc = #{record.detailPc,jdbcType=VARCHAR},
      </if>
      <if test="record.detailH5 != null" >
        detail_h5 = #{record.detailH5,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null" >
        region = #{record.region,jdbcType=VARCHAR},
      </if>
      <if test="record.plate != null" >
        plate = #{record.plate,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.averagePrice != null" >
        average_price = #{record.averagePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.batchId != null" >
        batch_id = #{record.batchId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fang_xf_loupang_list
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      title_id = #{record.titleId,jdbcType=VARCHAR},
      detail_pc = #{record.detailPc,jdbcType=VARCHAR},
      detail_h5 = #{record.detailH5,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      region = #{record.region,jdbcType=VARCHAR},
      plate = #{record.plate,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      average_price = #{record.averagePrice,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      batch_id = #{record.batchId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tt.entity.FangXfLoupangList" >
    update fang_xf_loupang_list
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        title_id = #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="detailPc != null" >
        detail_pc = #{detailPc,jdbcType=VARCHAR},
      </if>
      <if test="detailH5 != null" >
        detail_h5 = #{detailH5,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="plate != null" >
        plate = #{plate,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="averagePrice != null" >
        average_price = #{averagePrice,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchId != null" >
        batch_id = #{batchId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tt.entity.FangXfLoupangList" >
    update fang_xf_loupang_list
    set title = #{title,jdbcType=VARCHAR},
      title_id = #{titleId,jdbcType=VARCHAR},
      detail_pc = #{detailPc,jdbcType=VARCHAR},
      detail_h5 = #{detailH5,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      plate = #{plate,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      average_price = #{averagePrice,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      batch_id = #{batchId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>