<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tt.dao.ZhugeCommunityDealMapper" >
  <resultMap id="BaseResultMap" type="com.tt.entity.ZhugeCommunityDeal" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="detail_url" property="detailUrl" jdbcType="VARCHAR" />
    <result column="title_id" property="titleId" jdbcType="VARCHAR" />
    <result column="deal_total_price" property="dealTotalPrice" jdbcType="VARCHAR" />
    <result column="deal_average_price" property="dealAveragePrice" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="layout" property="layout" jdbcType="VARCHAR" />
    <result column="deal_time" property="dealTime" jdbcType="VARCHAR" />
    <result column="deal_src" property="dealSrc" jdbcType="VARCHAR" />
    <result column="data_src" property="dataSrc" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="batch_id" property="batchId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, detail_url, title_id, deal_total_price, deal_average_price, area, layout, deal_time, 
    deal_src, data_src, status, createtime, batch_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tt.entity.ZhugeCommunityDealExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zhuge_community_deal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zhuge_community_deal
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zhuge_community_deal
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tt.entity.ZhugeCommunityDealExample" >
    delete from zhuge_community_deal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tt.entity.ZhugeCommunityDeal" >
    insert into zhuge_community_deal (id, detail_url, title_id, 
      deal_total_price, deal_average_price, area, 
      layout, deal_time, deal_src, 
      data_src, status, createtime, 
      batch_id)
    values (#{id,jdbcType=VARCHAR}, #{detailUrl,jdbcType=VARCHAR}, #{titleId,jdbcType=VARCHAR}, 
      #{dealTotalPrice,jdbcType=VARCHAR}, #{dealAveragePrice,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{layout,jdbcType=VARCHAR}, #{dealTime,jdbcType=VARCHAR}, #{dealSrc,jdbcType=VARCHAR}, 
      #{dataSrc,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{batchId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tt.entity.ZhugeCommunityDeal" >
    insert into zhuge_community_deal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="detailUrl != null" >
        detail_url,
      </if>
      <if test="titleId != null" >
        title_id,
      </if>
      <if test="dealTotalPrice != null" >
        deal_total_price,
      </if>
      <if test="dealAveragePrice != null" >
        deal_average_price,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="layout != null" >
        layout,
      </if>
      <if test="dealTime != null" >
        deal_time,
      </if>
      <if test="dealSrc != null" >
        deal_src,
      </if>
      <if test="dataSrc != null" >
        data_src,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="batchId != null" >
        batch_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="detailUrl != null" >
        #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="dealTotalPrice != null" >
        #{dealTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="dealAveragePrice != null" >
        #{dealAveragePrice,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="layout != null" >
        #{layout,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=VARCHAR},
      </if>
      <if test="dealSrc != null" >
        #{dealSrc,jdbcType=VARCHAR},
      </if>
      <if test="dataSrc != null" >
        #{dataSrc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tt.entity.ZhugeCommunityDealExample" resultType="java.lang.Integer" >
    select count(*) from zhuge_community_deal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update zhuge_community_deal
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.detailUrl != null" >
        detail_url = #{record.detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.titleId != null" >
        title_id = #{record.titleId,jdbcType=VARCHAR},
      </if>
      <if test="record.dealTotalPrice != null" >
        deal_total_price = #{record.dealTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.dealAveragePrice != null" >
        deal_average_price = #{record.dealAveragePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.layout != null" >
        layout = #{record.layout,jdbcType=VARCHAR},
      </if>
      <if test="record.dealTime != null" >
        deal_time = #{record.dealTime,jdbcType=VARCHAR},
      </if>
      <if test="record.dealSrc != null" >
        deal_src = #{record.dealSrc,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSrc != null" >
        data_src = #{record.dataSrc,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.batchId != null" >
        batch_id = #{record.batchId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update zhuge_community_deal
    set id = #{record.id,jdbcType=VARCHAR},
      detail_url = #{record.detailUrl,jdbcType=VARCHAR},
      title_id = #{record.titleId,jdbcType=VARCHAR},
      deal_total_price = #{record.dealTotalPrice,jdbcType=VARCHAR},
      deal_average_price = #{record.dealAveragePrice,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      layout = #{record.layout,jdbcType=VARCHAR},
      deal_time = #{record.dealTime,jdbcType=VARCHAR},
      deal_src = #{record.dealSrc,jdbcType=VARCHAR},
      data_src = #{record.dataSrc,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      batch_id = #{record.batchId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tt.entity.ZhugeCommunityDeal" >
    update zhuge_community_deal
    <set >
      <if test="detailUrl != null" >
        detail_url = #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        title_id = #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="dealTotalPrice != null" >
        deal_total_price = #{dealTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="dealAveragePrice != null" >
        deal_average_price = #{dealAveragePrice,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="layout != null" >
        layout = #{layout,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        deal_time = #{dealTime,jdbcType=VARCHAR},
      </if>
      <if test="dealSrc != null" >
        deal_src = #{dealSrc,jdbcType=VARCHAR},
      </if>
      <if test="dataSrc != null" >
        data_src = #{dataSrc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchId != null" >
        batch_id = #{batchId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tt.entity.ZhugeCommunityDeal" >
    update zhuge_community_deal
    set detail_url = #{detailUrl,jdbcType=VARCHAR},
      title_id = #{titleId,jdbcType=VARCHAR},
      deal_total_price = #{dealTotalPrice,jdbcType=VARCHAR},
      deal_average_price = #{dealAveragePrice,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      layout = #{layout,jdbcType=VARCHAR},
      deal_time = #{dealTime,jdbcType=VARCHAR},
      deal_src = #{dealSrc,jdbcType=VARCHAR},
      data_src = #{dataSrc,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      batch_id = #{batchId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>